# Gmail Configuration
GMAIL_EMAIL=phamtuan2xx3@gmail.com
GMAIL_APP_PASSWORD=elxkvsccnufclkfb

# Server Configuration
PORT=3001
HOST=127.0.0.1
NODE_ENV=production

# IMAP Configuration
IMAP_HOST=imap.gmail.com
IMAP_PORT=993

# Email Domain
ALLOWED_DOMAIN=khoahoctietkiem.site
EMAIL_FETCH_MINUTES=10
